#codeforces_id{
	color: #AA00AA;
	font-family: helvetica-neue-bold;
}

#topcoder_id{
	color: #DDCC00;
	font-family: helvetica-neue-bold;	
}

#atcoder_id{
	color: #0000FF;
	font-family: helvetica-neue-bold;	
}

#csacademy_id{
	color: #F1C400;
	font-family: helvetica-neue-bold;	
}